<p id="notice"><%= notice %></p>

<h1>Programas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre programa</th>
      <th>Tipo educacion</th>
      <th>Titulo otorga</th>
      <th>Tiempo formacion</th>
      <th>Familia profesional</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programas.each do |programa| %>
      <tr>
        <td><%= programa.nombre_programa %></td>
        <td><%= programa.tipo_educacion %></td>
        <td><%= programa.titulo_otorga %></td>
        <td><%= programa.tiempo_formacion %></td>
        <td><%= programa.familia_profesional %></td>
        <td><%= link_to 'Show', programa %></td>
        <td><%= link_to 'Edit', edit_programa_path(programa) %></td>
        <td><%= link_to 'Destroy', programa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Programa', new_programa_path %>
