<%= form_for(material) do |f| %>
  <% if material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_area :descripcion %>
  </div>

  <div class="field">
    <%= f.label :cantidad %>
    <%= f.number_field :cantidad %>
  </div>

  <div class="field">
    <%= f.label :precio_unitario %>
    <%= f.number_field :precio_unitario %>
  </div>

  <div class="field">
    <%= f.label :precio_total %>
    <%= f.number_field :precio_total %>
  </div>

  <div class="field">
    <%= f.label :tipo_material %>
    <%= f.text_field :tipo_material %>
  </div>

  <div class="field">
    <%= f.label :imagen %>
    <%= f.text_field :imagen %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
